<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Data Element</title>
  </head>
  <body>
  <h1> Data Element Template</h1>
  <p>This configuration panel is for the localStorage Data Element. You will choose a localStorage name and we will retrieve the value inside.</p>
  <p>The localStorage to retrieve :</p><input id='localStorage'></input>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            el = document.querySelector('#localStorage');
            el.value = info.settings.localStorage;
            // TODO Populate form values from persisted settings.
          }
        },

        getSettings: function() {
          myObj = {}
          value = document.querySelector('#localStorage').value || "";
          myObj['localStorage'] = value;
          return myObj;
          // TODO Return settings object from form values.
        },

        validate: function() {
          el = document.querySelector('#localStorage');
          if(el.value == ""){return false}
          return true 
          // TODO Return whether settings are valid.
        }
      });
    </script>
  </body>
</html>
